$primary : lime;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited,
a{color:$primary}

hr{
    border: none;
    min-height: 1rem;
}

body {

    height: 100dvh;
    width: 100dvw;
    background-color: black;
    color: $primary;
}


#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



#header {
    display: flex;
    flex-direction: row;

    justify-content: center;

    border-bottom: 2px dashed $primary;

    #site-title {
        display: none;
        
        width: 20%;

        align-content: center;
    
        text-wrap: nowrap;

        font-size: x-large;
    }

    #button-container {
        display: inherit;
        flex-direction: inherit;
      
        button:last-of-type {
            margin: 0;
        }

        button {
            margin-right: 1rem;
            padding: .25rem;
            display: flex;
            place-content: center;
            place-items: center;
        

            border: none;
            background-color: black;
            color: $primary;

            font-size: xx-large;
            transition: 0.5s;
        }

        .--active {
            background-color: green;
            color: $primary;
        }

        button:hover {
            
            cursor: pointer;

            background-color: lime;
            color: black;
        }
    }
}

#index-container{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;

    height: 100%;
    width: 100%;

    font-size: xx-large;
}

#contact-container {

    display: grid;

    place-content: center;
    place-items: center;

    height: 100%;
    width: 100%;


    .contact-button {
        margin: 1rem;
        padding: 1rem;

        width: 80%;

        place-content: center;
        place-items: center ;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bolder;

        background-color: transparent;
        color: $primary;
        border: 2px dashed $primary;


        transition: 0.5s;
    }

    .contact-button:hover {
        cursor: pointer;
        color: green;
        background-color: lime;
        border: 2px dashed green;
    }
}

@media screen and (min-width: 600px) { // Intermediary media query for small to medium devices in landscape

    #header {

        justify-content: space-between;

        #site-title {
            display: block;
        }

        #button-container{

            button:last-of-type{
                margin-right: 1rem;
            }
        }

    }

    #contact-container{
        display: flex;

        .contact-button{
            height: 50%;
        }
    }
}

@media screen and (min-width: 800px) { // Intermediary media query for medium to large devices in landscape


    #contact-container{
        .contact-button{
            height: 30%;
        }
    }
}

@media screen and (min-width: 800px) and (min-height: 600px) { // Media query for large devices like monitors or tablets

    hr{
        border: none;
        min-height: 0;
    }

    #contact-container{
        .contact-button{
            font-size: xx-large;
        }
    }
    
}