<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer id="footer">
        <style>
        #footer{
            background-color: white;
            
            max-height: 400px;
            height: 100vh;
            margin: 0 !important;

            position: absolute;
            bottom: 0;
            
            box-sizing: border-box;
        }
        #footerContentContainer{
            padding:20px;
            background-color: blue;
            height: 100vh;
            width:  100vw;
        }
        </style>
        <div id="footerContentContainer">


        </div>
        </footer>
</body>
</html>