
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>     
        <div id="header">
        <div class='screw-container'><div class="screw-outer"><p class="screw-inner">+</p></div><div class="screw-outer"><p class="screw-inner">+</p></div></div>
        Thank you for your interest in my webfolio! I'm currently preoccupied with my studies but I am working hard to get this updated! - kChat
        <div class='screw-container'><div class="screw-outer"><p class="screw-inner">+</p></div><div class="screw-outer"><p class="screw-inner">+</p></div></div>
        </div>
    </div>
</body>
</html>
