<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kChat.dev</title>
    <link rel="stylesheet" href="/css/style.css"></link>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div id="root">
        
        
    </div>

    <!--Scripts-->

    <script src="/js/bannertext.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/content.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/mousefollow.js"></script>
</body>

</html>