body{
    margin: 0;
    padding: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    height: 100vh;
    width: 100vw;
  
    background: linear-gradient(135deg, rgba(219,221,1,1) 4%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 12%, rgba(219,221,1,1) 13%, rgba(219,221,1,1) 23.5%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 31%, rgba(219,221,1,1) 32%, rgba(219,221,1,1) 42%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 50%, rgba(219,221,1,1) 50.5%, rgba(219,221,1,1) 61%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 69%, rgba(219,221,1,1) 70%, rgba(219,221,1,1) 80.5%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 88%, rgba(219,221,1,1) 89%, rgba(219,221,1,1) 99%, rgba(0,0,0,1) 100%);
  
  }
  
  #header{
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    height: auto;
    width: 400px;
    background-color: rgb(173, 173, 173);
    border-radius: 25px;
    border-left: 5px solid gainsboro;
    border-top: 5px solid gainsboro;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
  
    color: rgba(65, 65, 65, .5);
    text-shadow: -1px -1px 1px gainsboro, 1px 1px 1px gray;
  
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  }
  
  .screw-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .screw-outer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 3px;
  
    max-height: 20px;
    max-width: 20px;
  
    font-size: 20px;
  
    background-color: rgb(192, 192, 192);
    border-radius: 100%;
  
    border-left: 5px solid gainsboro;
    border-top: 5px solid gainsboro;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
  
  
    color: gray;
    text-shadow: -1px -1px 1px gainsboro, 1px 1px 1px rgb(66, 66, 66);
    text-align: center;
  }
  
  .screw-inner{
    margin: 0;
    padding-left: 0;
  }

  .contact-button{
    padding: 0;
    margin: 0;

    height: 50px;
    width: 50px;
  }

  .--github{
   
  }