<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
</head>
<body>
    <style>
        body{
            background-image: url(https://www.freevector.com/uploads/vector/preview/4951/FreeVector-Under-Construction-Graphics.jpg);
            background-size:cover;
            width: 100%;
            height: 100%;
        }
    </style>

<footer>
    <!--#include virtual="footer.ejs"-->
</footer>

</body>
</html>