<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Habit Heroes</title>
<link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
<style>
  body {
    background-color: #8B5A2B; /* Dirt block color */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #header-main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 125px;
    width: 500px;
    padding:0;
    background-color: #4B2506; /* Darker dirt block color */
    border: 4px solid #000;
    border-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  #title{
    position: fixed;
    margin: 0;
    top: -10px;
    height: 75px;
    color: #e9ed00;
    text-shadow: 5px 5px #878a00;
    font-size: 100px;
    font-family: "Micro 5", "sans-serif";
  }

  #header-bg{
    height: 20px;
    width: 100%;
    background-color: #4B2506;
    border: 4px solid #000;
    position: fixed;
    top: 0;
    z-index: 998;
  }

  #clock{
    position: fixed;
    top: 90px;
    text-align: center;
    padding-top: 5px;
    width: 100px;
    height: 25px;
    background-color: rgb(100, 10, 10);
    color: rgb(155, 0, 0);
    font-family: "Orbitron", "sans-serif";
    font-weight: 900;
    border: 4px solid black
  }

  #time-tracker{
    background-image: url(https://as2.ftcdn.net/v2/jpg/03/88/20/19/1000_F_388201945_HUAYrJEFMbPFVeG5lD9Wm7eyy1R0gOLo.jpg);
    background-position-y: -615px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: 5000px 2000px;
    height: 80px;
    width: 100%;
    border: 4px solid #000;
    position: fixed;
    top: 0;
    z-index: 996;
  }

  #game-header{
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    padding-left: 10px;
    box-sizing: border-box;
  }

  #account-header{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 997;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .header-banner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: tan;
    border: 5px solid rgb(155, 129, 96);
    z-index: 998;
    top: -75%;
    transition: transform 1s;
    margin: 5px;
  }

  .header-banner p{
    background-color: tan;
    border: 0;
    align-self: flex-end;
    font-size: medium;
    font-weight: bolder;
    margin: 0;
  }

  .header-banner:hover{
    transform: translateY(50%)
  }

  #dynamic-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 100vh;
    width: 100%;
    max-width: 90vw;
    margin-top: 80px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #dynamic-body-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    box-sizing: border-box;
    width: 90%;
    height: 100vh;
    margin-top: 80px;
    padding: 0;
    margin: 0;
  }
</style>

</head>
<body>

<div id="header-bg"></div>

<div id="time-tracker"></div>

<div id="game-header">
  <div class="header-banner"><p>World Map</p></div>
</div>

<div id="header-main">
  <p id="title">Habit Heroes</p>
  <div id="clock"></div>
</div>

<div id="account-header">
  <div class="header-banner"><p>Account</p></div>
  <div class="header-banner"><p>Log-out</p></div>
</div>

<div id="dynamic-body">
  <div id="dynamic-body-content-container">
    <p> Hark, great adventurer.. how did you find this incomplete page? You must have the gift!</p>
  </div>
</div>

<script>
function updateTime() {
    var now = new Date();
    var hours = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    // Calculate total seconds elapsed in the day
    var totalSeconds = hours * 3600 + minutes * 60 + seconds;

    // Calculate total seconds in a day (24 hours)
    var totalSecondsInDay = 24 * 3600;

    // Calculate the ratio of elapsed time to total time in a day
    var ratio = totalSeconds / totalSecondsInDay;

    // Assuming the image width is 5000px, calculate the new background-position-x
    var imageWidth = 5000; // Adjust according to your image width
    var newPositionX = ratio * imageWidth;

    // Update the style of the element with id "time-tracker" to change its background-position
    document.getElementById("time-tracker").style.backgroundPositionX = -newPositionX + "px"; // Adding '-' for reverse scrolling

    // Update the clock display as before
    hours = (hours < 10 ? "0" : "") + hours;
    minutes = (minutes < 10 ? "0" : "") + minutes;
    seconds = (seconds < 10 ? "0" : "") + seconds;
    var timeString = hours + ":" + minutes + ":" + seconds;
    document.getElementById("clock").innerHTML = timeString;
}


// Call updateTime every second
setInterval(updateTime, 1000);

</script>

</body>
</html>
